Checks: >
  -*,
  bugprone-*,
  performance-*,
  readability-*,
  -readability-identifier-length,
  modernize-use-nullptr,
  modernize-use-override
WarningsAsErrors: '*'
HeaderFilterRegex: '.*kmeans-canary/(include|src)/.*'
